/* ------------ Form ------------ */
.form {
    padding-bottom: 60px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.form label {
    color: white;
}

.form input[type="text"] {
    width: 250px;
    border: none;
    border-bottom: 1px white solid;
    background-color: transparent;
}

.form input[type="text"]:focus {
    outline: none;
    border: none;
    border-bottom: 1px white solid;
}
