/* ------------ Form ------------ */
.form {
    padding-bottom: 60px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form p {
    font-family: 'Passion One', sans-serif;
    font-size: 35px;
    color: white;
    margin-bottom: 10px;
}

.form label {
    color: white;
}

.form input[type="text"] {
    width: 250px;
    border: none;
    border-bottom: 1px white solid;
    background-color: transparent;
    caret-color: white;
}

.form input[type="text"]:focus {
    outline: none;
    border: none;
    border-bottom: 1px white solid;
}

.form .form-quote input.quote {
    width: 350px;
}

.form .file-form input {
    background-color: #fdaf16;
    color: white;
    transition: 0.3s;
}

.form .file-form input:hover {
    background-color: white;
    color: #fdaf16;
    cursor: pointer;
}

.form .file-form input:focus {
    outline: none;
    border: none;
}

.form .form-submit input {
    width: fit-content;
    padding: 5px 10px;
    background-color: #fdaf16;
    border: none;
    color: white;
    transition: 0.3s;
    border-radius: 6px;
    font-size: 20px;
}

.form .form-submit input:hover {
    background-color: white;
    color: #fdaf16;
    cursor: pointer;
}
