/* ------------ Words list section ------------ */
.page-body {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.page-body .list li {
    padding: 7px;
    margin: 8px;
    background-color: #fdaf16;
    color: white;
    border-radius: 6px;
    transition: ease-in-out 0.2s;
}

.page-body .list li:hover {
    box-shadow: orange 10px 10px;
    cursor: pointer;
}

.page-body .words-list {
    max-width: 1000px;
    padding: 0 20px;
}