* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  background-color: #E63C18;
}

.hidden {
  height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  transition: .5s;
}