* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  background-color: #f0f1f6;
}

/* ------------ Page title ------------ */
.page-title {
  font-size: 20px;
}

/* ------------ Page body ------------ */
.page-body {
  display: flex;
}

.page-body .list {
  list-style: none;
}

.word-box {
  display: flex;
}

