* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  background-color: #f0f1f6;
}

/* ------------ Page title ------------ */
.page-title {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title h1 {
  margin: 10px 0 20px 0;
}

.page-title h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 100px;
  background-color: brown;
  margin-top: 5px;
}

/* ------------ Page body ------------ */
.page-body {
  display: flex;
  margin: 20px 0;
  padding: 15px;
  justify-content: center;
  color: white;
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.page-body .list li {
  padding: 7px;
  margin: 5px;
  background-color: white;
  box-shadow: #d3d3d391 0px 4px 15px;
  transition: ease-in-out 0.3s;
}

.page-body .list li:hover {
  box-shadow: rgb(95, 95, 95) 0px 4px 15px;
}

.page-body .words-list {
  max-width: 1400px;
  padding: 20px;
}

.word-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: darkblue;
}

.word-box .word-title {
  display: flex;
}

.word-box .word-title .audio-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
}

.share-box li {
  padding: 7px;
  margin: 5px;
}
