/* ------------ Word box section ------------ */
.word-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 15px;
    background-color: #fdaf16;
    color: white;
    transition: .5s;

}

.word-box #Replique {
    margin: 15px 30px;
    font-size: 18px;
    text-align: center;
    max-width: 1000px;
}

.word-box .word-title {
    display: flex;
}

.word-box .word-title .audio-btn {
    display: block;
}

.word-title p {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Passion One', cursive;
    padding-top: 10px;
}

.share-box ul {
    width: 120px;
    justify-content: space-between;
    font-size: 14px;
}
